<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--使用if标签-->
<mapper namespace="cn.edu.tyut.demo.dao.CustomerMapper">
    <select id="findCustomerByJobOrName" resultType="customer" parameterType="customer">
        SELECT * FROM customer
--         使用where标签可以自动添加一个where并将语句中第一个and去掉
        <where>
        <if test="username != null and username!=''">
            and username = #{username}
        </if>
        <if test="job !=null and job != ''">
            and job = #{job}
        </if>
        </where>
    </select>
    <select id="findCustomerByJobAndName" resultType="customer" parameterType="customer">
        SELECT * FROM customer
        <where>
            <choose>
                <when test="username != null and username!=''">
                    and username = #{username}
                </when>
                <when test="job != null and job !=''">
                    and job = #{job}
                </when>
            </choose>
        </where>
    </select>
<!--    set标签的使用-->
    <update id="updateCustomer" parameterType="customer">
    UPDATE customer
    <set>
    <if test="username !=null and username !=''">
        username = #{username},
    </if>
    <if test="job !=null and job !=''">
        job = #{job},
    </if>
    <if test="phone !=null and phone != ''">
        phone = #{phone},
    </if>
    </set>
    where id = #{id}
    </update>
    <select id="findCustomerById" parameterType="java.util.List" resultType="customer">
        SELECT * FROM customer WHERE id in
                               <foreach collection="list" open="(" close=")" separator="," item="id">
                                   #{id}
                               </foreach>

    </select>
</mapper>