<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--使用if标签-->
<mapper namespace="cn.edu.tyut.demo.dao.CustomerMapper">
    <select id="findCustomerByJobOrName" resultType="customer" parameterType="customer">
        SELECT * FROM customer where 1=1
        <if test="username != null and username!=''">
            and username = #{username}
        </if>
        <if test="job !=null and job != ''">
            and job = #{job}
        </if>
    </select>

</mapper>